<div #searchPelicula class="w-fit flex gap-2 items-center relative">
    <cine-pelicula-filtros />
    <input (focus)="open=true" #ipt
        class="p-2 bg-black border w-60 border-neutral-400 focus:outline-none focus:border-neutral-300"
        placeholder="search" />
    <ul *ngIf="open" class="absolute bg-neutral-900 shadow-element top-12 w-full p-2">
        <li *ngIf="status=='ERROR'" class="text-red-500">
            A ocurrido un error
        </li>
        <li *ngIf="status=='LOAD'" class="">
            Cargando...
        </li>
        <li *ngIf="status=='NOTHING'" class="">
            Ningun usuario encontrado
        </li>
        <li class="border-b p-2 cursor-pointer">

            <p>user.correo</p>

        </li>
        <li class="border-b p-2 cursor-pointer">

            <p>user.correo</p>

        </li>
        <li class="border-b p-2 cursor-pointer">

            <p>user.correo</p>

        </li>
    </ul>
</div>