@tailwind base;
@tailwind components;
@tailwind utilities;


.shadow-element {

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.256);

}

.animate-item {

    transition: all 300ms;

}

.animate-item:hover {

    background-color: #f2f2f2;
}


.side-item {

    display: inline-grid;
    align-items: center;
    grid-template-columns: 20% auto 20%;
    width: 100%;
}

html, body { height: 100%; }
html, body { height: 100%; }
body { font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
