<nav class="bg-neutral-900 text-neutral-300">

    <ul class="flex h-16 items-center px-2 justify-between">

        <li class="font-semibold">
            <a class="w-fit transition-colors cursor-pointer hover:text-slate-200">cine222</a>
        </li>

        <ul class="flex ml-4 gap-9">

            <li>
                <a 
                routerLink="/pelicula"
                class="w-fit transition-colors cursor-pointer hover:text-slate-200">Peliculas</a>
            </li>
            <li>
                <a class="w-fit transition-colors cursor-pointer hover:text-slate-200">Salas</a>
            </li>

        </ul>

    </ul>
</nav>